<md-dialog class="dialog__edit">
    <div class="spinner__container" layout="row" layout-align="center center"
            ng-show="loading.window">
        <md-progress-circular md-diameter="40"></md-progress-circular>
    </div>
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-align="start stretch">
                <h2 class="md-title no-margin dialog__title">Edit Round</h2>
                <md-input-container class="dialog__name">
                    <label>Round Name</label>
                    <input type="text" ng-model="round.name" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Directions</label>
                    <textarea ng-model="round.directions" md-maxlength="1000" rows="1"></textarea>
                </md-input-container>
                <md-list flex>
                    <md-list-item class="md-2-line">
                        <md-icon>{{voteMethods[round.vote_method].icon}}</md-icon>
                        <div class="md-list-item-text">
                            <h3>{{voteMethods[round.vote_method].label}}</h3>
                            <p>Vote Method</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <md-icon>date_range</md-icon>
                        <div class="md-list-item-text">
                            <div layout="row" layout-align="space-between start">
                                <md-datepicker ng-model="round.deadline_date"
                                            md-hide-icons="calendar"></md-datepicker>
                                <md-input-container class="dialog__input--flat" flex>
                                    <input name="hour" type="time"
                                        ng-model="round.deadline_date">
                                </md-input-container>
                            </div>
                            <p>Close Date and Time (UTC)</p>
                        </div>
                    </md-list-item>
                </md-list>
                <strong class="md-subhead">Round Jurors</strong>
                <mont-user-list ng-model="round.jurors"
                                ng-disabled="round.status !== 'paused'"></mont-user-list>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-primary" ng-click="saveEditRound(round, loading)">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>