<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>montage</title>
</head>
<body ng-app="montage">
  <ui-view>
    <div class="spinner__container" layout="row" layout-align="center center">
        <md-progress-circular md-diameter="40"></md-progress-circular>
    </div>
    <md-toolbar class="toolbar"></md-toolbar>
  </ui-view>
<script>
(function (window) {
  window.__env = window.__env || {};
  window.__env.name = 'dev';
  window.__env.baseUrl = '//tools.wmflabs.org/montage-dev';
}(this));
</script>
</body>
</html>