ashes
boltons>=21.0.0
chert>=21.0.0
clastic
face
lithoxyl>=21.0.0
mwoauth
# mysqlclient  # only on toolforge
sentry-sdk
pyopenssl

# look at:
python-graph-core==1.8.2
-e git+https://github.com/the-maldridge/python-vote-core.git@f0b01e7e24f80673c4c237ee9e6118e8986cf0bb#egg=python3_vote_core ; python_version >= '3.0'
SQLAlchemy==1.0.14
unicodecsv==0.14.1
pymysql==0.9.3
