<h1>All Campaigns</h1>
<p>View all campaigns, active and archived below, or <a ui-sref="main.dashboard">view only active campaigns and rounds</a>.</p>
<div class="dashboard__section dashboard__section--admin" ng-if="$ctrl.campaignsAdmin">
  <h2>Coordinator campaigns</h2>
  <div class="section__content">
    <mont-campaign-admin-box
      ng-repeat="campaign in $ctrl.campaignsAdmin | orderBy : 'id' : true"
      campaign="campaign"
      index="$index"
    >
    </mont-campaign-admin-box>
  </div>
</div>

<div class="dashboard__section" ng-if="$ctrl.campaignsJuror">
  <h1>Juror campaigns</h1>
  <div class="section__content">
    <mont-campaign-juror-box
      ng-repeat="campaign in $ctrl.campaignsJuror"
      rounds="campaign"
    >
    </mont-campaign-juror-box>
  </div>
</div>
