@import '../../styles/variables';

mont-dashboard {
  min-height: calc(100vh - 64px - 40px);

  .dashboard__section {
    
  }
  
  
  & > div {
    width: 100%;
  }

  .campaign__add {
    margin-bottom: 15px;
  }
}

