<div class="dashboard__section dashboard__section--admin"
    ng-if="$ctrl.campaignsAdmin">
  <h1 class="section__title">Active Campaigns</h1>
  <p>Manage current campaigns below, or <a ui-sref="main.campaigns-all">view all campaigns and rounds</a>. </p>
  <div class="section__content">
    <mont-campaign-admin-box
      ng-repeat="campaign in $ctrl.campaignsAdmin | orderBy : 'id' : true"
      campaign="campaign"
      index="$index"
    >
    </mont-campaign-admin-box>
    <mont-campaign-admin-box
      ng-if="$ctrl.user.is_organizer"
      campaign="'new'"
      index="$ctrl.campaignsAdmin.length"
    >
    </mont-campaign-admin-box>
  </div>
</div>

<div class="dashboard__section">
  <div ng-if="!$ctrl.err.length">
    <h1 class="section__title">Active Voting Rounds</h1>
    <p>Vote on currently open rounds.</p>
  </div>
  <div class="section__content">
    <mont-campaign-juror-box
      ng-repeat="campaign in $ctrl.campaignsJuror"
      rounds="campaign"
    >
    </mont-campaign-juror-box>
  </div>
</div>

<md-button aria-label="View all campaigns" ui-sref="main.campaigns-all" ng-if="!$ctrl.err.length">
  View all campaigns and rounds
</md-button>


<div flex></div>
<div layout="row" layout-align="end end" ng-if="$ctrl.user.is_maintainer">
  <span flex></span>
  <md-button
    class="md-fab md-primary md-mini"
    aria-label="Add campaign organizer"
    ng-click="$ctrl.addOrganizer($event)"
  >
    <md-icon>person_add</md-icon>
    <md-tooltip md-direction="left">Add campaign organizer</md-tooltip>
  </md-button>
</div>

<div layout="column" layout-align="center center" ng-if="$ctrl.err.length">
  <mont-login></mont-login>
</div>
