<h2>Dashboard</h2>
<mont-campaign-admin-box
    ng-repeat="campaign in $ctrl.campaignsAdmin"
    campaign="campaign">
</mont-campaign-admin-box>

<h1>JUROR</h1>
<div>
  <mont-campaign-old ng-repeat="campaign in $ctrl.campaignsJuror"
            campaign="campaign" type="'juror'" user="$ctrl.user">
</div>

<div flex></div>
<div layout="row" layout-align="end end">
  <span flex></span>
  <md-button class="md-fab md-primary md-mini" aria-label="Add campaign organizer"
      ng-click="$ctrl.addOrganizer($event)">
    <md-icon>person_add</md-icon>
    <md-tooltip md-direction="left">Add campaign organizer</md-tooltip>
  </md-button>
  <md-button class="md-fab" aria-label="Add new campaign"
          ng-click="$ctrl.addCampaign($event)">
    <md-icon>assignment</md-icon>
    <md-tooltip md-direction="top">Add new campaign</md-tooltip>
  </md-button>
</div>
