<md-dialog class="dialog__edit">
    <div class="spinner__container" layout="row" layout-align="center center"
            ng-show="loading.window">
        <md-progress-circular md-diameter="40"></md-progress-circular>
    </div>
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-align="start stretch">
                <h2 class="md-title no-margin">Add new organizer</h2>
                <mont-user-list ng-model="organizers" max="1"></mont-user-list>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-primary" ng-click="add(organizers, loading)">
                Add
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>