<div class="round"
      layout="row" layout-align="center start"
      ng-class="{ 'round--last': $ctrl.last }">
  <div class="round__status {{'round__status--' + $ctrl.round.status}}"
        layout="row" layout-align="center center">
    <span ng-if="$ctrl.round.vote_method === 'yesno'"><md-icon>thumbs_up_down</md-icon></span>
    <span ng-if="$ctrl.round.vote_method === 'rating'"><md-icon>star_border</md-icon></span>
    <span ng-if="$ctrl.round.vote_method === 'ranking'"><md-icon>sort</md-icon></span>
  </div>
  <span class="round__line"></span>
  <div flex>
    <h2 class="round__name"
        layout="row" layout-align="space-between center">
      <div layout="column" layout-align="center start">
        <span>{{ ::$ctrl.round.name }}</span>
        <span class="muted">{{ ::$ctrl.round.vote_method }} · {{ $ctrl.round.status }}</span>
      </div>
      <md-button
          ng-click="$ctrl.editRound()"
          ng-disabled="$ctrl.round.status !== 'paused'">
        <md-icon>settings</md-icon>
        Edit Round
      </md-button>
    </h2>
    <md-card class="round__description" flex>
      <md-card-content>
        <div layout="row" layout-align="center stretch">
          <div class="round__directions" flex="60">
            <h4>Deadline Date</h4>
            <p>{{ ::$ctrl.round.deadline_date | date: 'd MMM yyyy' }} · <span class="muted">{{ ::$ctrl.round.deadline_date | fromNow }}</span></p>
            <h4>Directions</h4>
            <p>{{ ::$ctrl.round.directions }}<span class="muted" ng-if="!$ctrl.round.directions">No directions provided.</span></p>
          </div>
          <div flex></div>
          <div class="round__settings" flex="30">
            <h4>Round File Settings</h4>
            <p layout="column" layout-align="start stretch">
              <span layout="row" layout-align="space-between start"
                  ng-repeat="(name, value) in $ctrl.round.config">
                <span>{{ ::name | translate }}</span>
                <span>{{ ::value | json}}</span>
              </span>
            </p>
            <p layout="column" layout-align="start stretch">
              <span layout="row" layout-align="space-between start"
                  ng-repeat="(name, value) in $ctrl.round.details.counts">
                <span>{{ ::("round." + name) | translate }}</span>
                <span>{{ ::value | json}}</span>
              </span>
            </p>
          </div>
        </div>
        
        <div class="round__jurors"
            layout="row" layout-align="center stretch">
          <md-progress-circular
            ng-if="!$ctrl.round.quorum"
            md-diameter="60">
          </md-progress-circular>
          
          <div class="round__directions" flex
              ng-if="$ctrl.round.quorum">
            <h4>Quorum</h4>
            <p>{{ ::$ctrl.round.quorum }} jurors per photo</p>
            <h4>Jurors</h4>
            <div class="round__juror-container"
                layout="column" layout-align="center stretch"
                ng-repeat="juror in $ctrl.round.jurors | orderBy:'username'">
              <span class="round__juror"
                  ng-class="juror.is_active ? 'round__juror--active' : 'round__juror--inactive'">
                <span class="juror__avatar" mont-avatar="{{ ::juror.username }}">
                  {{ ::juror.username[0].toUpperCase() }}
                </span>
                {{ ::juror.username }}
              </span>
              <div class="juror__stats">
                <span class="juror__percentage"
                    ng-if="juror.stats.total_tasks">
                  {{ ::(100 - juror.stats.percent_tasks_open) | number : 1 }}%
                </span>
                <span class="juror__percentage"
                    ng-if="!juror.stats.total_tasks">
                  N/A
                </span>
                <br />
                <span>
                  {{ ::(juror.stats.total_tasks - juror.stats.total_open_tasks) }} out of
                  {{ ::juror.stats.total_tasks }}
                </span><br />
                <span class="muted">{{ ::juror.stats.total_open_tasks}} remaining</span>
              </div>
            </div>
          </div>
          <div class="round__settings" flex="30"
              ng-if="$ctrl.round.details.ratings">
            <h4>Voting Details</h4>
            <canvas id="doughnut" class="chart chart-doughnut"
              chart-data="$ctrl.round.details.ratings.values"
              chart-labels="$ctrl.round.details.ratings.labels">
            </canvas>
            <p layout="column" layout-align="start stretch">
              <span layout="row" layout-align="space-between center"
                  ng-repeat="label in $ctrl.round.details.ratings.labels">
                <span>{{ label }}</span>
                <span>{{ $ctrl.round.details.ratings.values[$index] }}</span>
              </span>
            </p>
          </div>
        </div>
      </md-card-content>
    </md-card>
    <div class="round__actions"
          layout="row" layout-align="end center">
      <md-button
          ng-if="$ctrl.round.status === 'paused'"
          ng-disabled="$ctrl.loading"
          ng-click="$ctrl.activateRound()">
        <md-icon ng-if="$ctrl.loading !== 'activate'">play_arrow</md-icon>
        <md-progress-circular
          md-diameter="20px"
          md-mode="indeterminate"
          ng-if="$ctrl.loading === 'activate'">
        </md-progress-circular>
        Activate
      </md-button>
      <md-button
          ng-if="$ctrl.round.status === 'active'"
          ng-disabled="$ctrl.loading"
          ng-click="$ctrl.pauseRound()">
        <md-icon ng-if="$ctrl.loading !== 'pause'">pause</md-icon>
        <md-progress-circular
          md-diameter="20px"
          md-mode="indeterminate"
          ng-if="$ctrl.loading === 'pause'">
        </md-progress-circular>
        Pause
      </md-button>
      <md-button
          ng-disabled="!$ctrl.round.details.is_closeable || $ctrl.loading"
          ng-click="$ctrl.finalizeRound()">
        <md-icon>done</md-icon>
        Finalize
      </md-button>
      <md-button
          ng-click="$ctrl.downloadResults()">
        <md-icon>file_download</md-icon>
        Download Results
      </md-button>
      <md-button ng-if="false"
          ng-disabled="($ctrl.round.status !== 'paused' && $ctrl.round.status !== 'finalized') || $ctrl.loading"
          ng-click="$ctrl.populateRound()">
        <md-icon>refresh</md-icon>
        Populate
      </md-button>
    </div>
  </div>
</div>