<div class="round"
      layout="row" layout-align="center start"
      ng-class="{ 'round--last': $ctrl.last }">
  <div class="round__status {{'round__status--' + $ctrl.round.status}}"
        layout="row" layout-align="center center">
    <span ng-if="$ctrl.round.vote_method === 'yesno'"><md-icon>thumbs_up_down</md-icon></span>
    <span ng-if="$ctrl.round.vote_method === 'rating'"><md-icon>star_border</md-icon></span>
    <span ng-if="$ctrl.round.vote_method === 'ranking'"><md-icon>sort</md-icon></span>
  </div>
  <span class="round__line"></span>
  <div flex>
    <h2 class="round__name"
        layout="row" layout-align="space-between center">
      <div layout="column" layout-align="center start">
        <span>{{ ::$ctrl.round.name }}</span>
        <span class="muted">{{ ::$ctrl.round.vote_method }} · {{ $ctrl.round.status }}</span>
      </div>
      <md-button
          ng-click="$ctrl.editRound()"
          ng-disabled="$ctrl.round.status !== 'paused'">
        <md-icon>settings</md-icon>
        Edit Round
      </md-button>
    </h2>
    <md-card class="round__description" flex>
      <md-card-content>
        <div layout="row" layout-align="center stretch">
          <div class="round__directions" flex="60">
            <h4>Deadline Date</h4>
            <p>{{ ::$ctrl.round.deadline_date | date: 'd MMM yyyy' }} · <span class="muted">{{ ::$ctrl.round.deadline_date | fromNow }}</span></p>
            <h4>Directions</h4>
            <p>{{ ::$ctrl.round.directions }}<span class="muted" ng-if="!$ctrl.round.directions">No directions provided.</span></p>
          </div>
          <div flex></div>
          <div class="round__settings" flex="30">
            <h4>Round Settings</h4>
            <p layout="column" layout-align="start stretch">
              <span layout="row" layout-align="space-between start"
                  ng-repeat="(name, value) in $ctrl.round.config">
                <span>{{ ::name | translate }}</span>
                <span>{{ ::value | json}}</span>
              </span>
            </p>
          </div>
        </div>
        
        <div class="round__jurors">
          <h4>Jurors</h4>
          <div class="round__juror-container"
              layout="column" layout-align="center stretch"
              ng-repeat="juror in $ctrl.round.jurors | orderBy:'username'">
            <span class="round__juror">
                <span class="juror__avatar" mont-avatar="{{ ::juror.username }}">
                  {{ ::juror.username[0].toUpperCase() }}
                </span>
                {{ ::juror.username }}
            </span>
            <div class="juror__stats">
              <span class="juror__percentage"
                  ng-if="juror.stats.total_tasks">
                {{ ::(100 - juror.stats.percent_tasks_open) | number : 1 }}%
              </span>
              <span class="juror__percentage"
                  ng-if="!juror.stats.total_tasks">
                N/A
              </span>
              <br />
              <span>
                {{ ::(juror.stats.total_tasks - juror.stats.total_open_tasks) }} out of
                {{ ::juror.stats.total_tasks }}
              </span><br />
              <span class="muted">{{ ::juror.stats.total_open_tasks}} remaining</span>
            </div>
          </div>
        </div>
      </md-card-content>
    </md-card>
    <div class="round__actions"
          layout="row" layout-align="end center"
          ng-if="$ctrl.round.status !== 'finalized'">
      <md-button
          ng-disabled="$ctrl.round.status === 'active' || $ctrl.round.status === 'finalized'"
          ng-click="$ctrl.activateRound()">
        <md-icon>play_arrow</md-icon>
        Activate
      </md-button>
      <md-button
          ng-disabled="$ctrl.round.status === 'paused' || $ctrl.round.status === 'finalized'"
          ng-click="$ctrl.pauseRound()">
        <md-icon>pause</md-icon>
        Pause
      </md-button>
      <md-button
          ng-disabled="!$ctrl.round.details.is_closeable"
          ng-click="$ctrl.finalizeRound()">
        <md-icon>done</md-icon>
        Finalize
      </md-button>
      <md-button ng-if="false"
          ng-disabled="$ctrl.round.status !== 'paused' && $ctrl.round.status !== 'finalized'"
          ng-click="$ctrl.populateRound()">
        <md-icon>refresh</md-icon>
        Populate
      </md-button>
    </div>
  </div>
</div>