@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300&subset=latin,latin-ext);
@import 'variables';

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #eee;
    color: $darkGrey;
    font: 14px Roboto, Arial, sans-serif; 
}

.container {
    margin: 0 78px;
    height: calc(100vh - 64px);

    ui-view, ui-view > * {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 960px) {
    .container {
        margin: 0 10px;
    }
}

////

.link {
    cursor: pointer;
}

.muted {
    color: $lightGrey;
}

.tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #818a91;
}

.tag--pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}