<div class="campaign">
    <h2 class="campaign__title md-display-1"
        layout="row" layout-align="start center">
        <span>{{$ctrl.campaign[0].campaign.name}}</span>
        <span flex></span>
    </h2>

    <div class="campaign__rounds-description"
         layout="row" layout-align="space-between center">
        <span class="md-body-1" flex="30">Name</span>
        <span class="md-body-1" flex="50">Round Date</span>
        <span class="md-body-1" flex="20">Vote Method</span>
        <span flex></span>
    </div>
    <md-card class="campaign__rounds">
        <div class="campaign__round md-primary md-hue-1"
             layout="row" layout-align="space-between center"
             ng-repeat="round in $ctrl.campaign"
             ng-class="$ctrl.isRoundActive(round) ? 'campaign__round--active' : 'campaign__round--inactive'"
             ng-click="$ctrl.openRound(round)">
            <span class="md-body-2" flex="30">
                {{round.name}}
                <span class="tag tag--pill"
                      ng-class="'tag--{{round.status}}'">{{round.status}}</span>
            </span>
            <span class="md-body-1" flex="50" layout="row" layout-align="start center">
                <span>
                    {{round.open_date | date}}<br />
                    <small class="muted">{{round.open_date | fromNow}}</small>
                </span>
                <span class="campaign__dash">–</span>
                <span>
                    {{round.close_date | date}}<br />
                    <small class="muted">{{round.close_date | fromNow}}</small>
                </span>
            </span>
            <span class="md-body-1" flex="20">
                <span ng-if="round.vote_method === 'yesno'"><md-icon>thumbs_up_down</md-icon> Yes/No</span>
                <span ng-if="round.vote_method === 'rating'"><md-icon>star_border</md-icon> Rating</span>
                <span ng-if="round.vote_method === 'ranking'"><md-icon>sort</md-icon> Ranking</span>
            </span>
            <span flex></span>
        </div>
    </md-card>
</div>