<div class="campaign">
    <h2 class="campaign__title md-display-1"
        layout="row" layout-align="start center">
        <span ng-hide="$ctrl.isNameEdited">{{$ctrl.campaign.name}}</span>
        <form ng-show="$ctrl.isNameEdited"
              ng-submit="$ctrl.saveCampaignName()">
            <md-input-container md-no-float>
                <input placeholder="Campaign name"
                       ng-model="$ctrl.nameEdit">
            </md-input-container>
        </form>
        <md-button class="md-icon-button" aria-label="Edit"
                   ng-hide="$ctrl.isNameEdited"
                   ng-click="$ctrl.editCampaignName($event)">
            <md-icon>edit</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Cancel"
                   ng-show="$ctrl.isNameEdited"
                   ng-click="$ctrl.cancelCampaignName()">
            <md-icon>cancel</md-icon>
        </md-button>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Edit"
                   ng-click="$ctrl.editCampaign()">
            <md-icon>settings</md-icon>
        </md-button>
    </h2>

    <div class="campaign__rounds-description"
         layout="row" layout-align="space-between center">
        <span class="md-body-1" flex="30">Name</span>
        <span class="md-body-1" flex="30">Round Date</span>
        <span class="md-body-1" flex="15">No. of Jurors</span>
        <span class="md-body-1" flex="15">Vote Method</span>
        <span flex></span>
    </div>
    <md-card class="campaign__rounds">
        <div class="campaign__round md-primary md-hue-1"
             layout="row" layout-align="space-between center"
             ng-repeat="round in $ctrl.campaign.rounds"
             ng-class="'campaign__round--inactive'">
            <span class="md-body-2" flex="30">
                {{round.name}}
                <span class="tag tag--pill"
                      ng-show="round.status"
                      ng-class="'tag--{{round.status}}'">{{round.status}}</span>
            </span>
            <span class="md-body-1" flex="30" layout="row" layout-align="start center">
                <span ng-show="round.open_date">
                    {{round.open_date | date}}<br />
                    <small class="muted">{{round.open_date | fromNow}}</small>
                </span>
                <span class="campaign__dash"
                      ng-show="round.open_date || round.close_date">–</span>
                <span ng-show="round.close_date">
                    {{round.close_date | date}}<br />
                    <small class="muted">{{round.close_date | fromNow}}</small>
                </span>
            </span>
            <span class="md-body-1" flex="15">{{round.jurors.length || "0"}} jurors</span>
            <span class="md-body-1" flex="15">
                <span ng-if="round.vote_method === 'yesno'"><md-icon>thumbs_up_down</md-icon> Yes/No</span>
                <span ng-if="round.vote_method === 'rating'"><md-icon>star_border</md-icon> Rating</span>
                <span ng-if="round.vote_method === 'ranking'"><md-icon>sort</md-icon> Ranking</span>
            </span>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Edit"
                       ng-click="$event.stopPropagation(); $ctrl.editRound(round)">
                <md-icon>more_vert</md-icon>
            </md-button>
        </div>
    </md-card>
    <div class="campaign__rounds-add" layout="row" layout-align="space-between center">
        <md-button ng-click="$ctrl.addRound($event)"
                   ng-disabled="!$ctrl.isLastRoundCompleted()">
            <md-tooltip md-direction="right">Add new round</md-tooltip>
            <md-icon>add_circle</md-icon>
            <span>Add round</span>
        </md-button>
        <span class="muted" ng-show="!$ctrl.isLastRoundCompleted()">Previous round needs to be completed first</span>
        <span flex></span>
    </div>
</div>