<div class="campaign campaign--admin">
    <h2 class="campaign__title md-display-1"
        layout="row" layout-align="start center">
        <span ng-hide="$ctrl.isNameEdited">{{$ctrl.campaign.name}}</span>
        <form ng-show="$ctrl.isNameEdited"
              ng-submit="$ctrl.saveCampaignName()">
            <md-input-container md-no-float>
                <input placeholder="Campaign name"
                       ng-model="$ctrl.nameEdit">
            </md-input-container>
        </form>
        <md-button class="md-icon-button" aria-label="Edit"
                   ng-hide="$ctrl.isNameEdited"
                   ng-click="$ctrl.editCampaignName($event)">
            <md-icon>edit</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="Cancel"
                   ng-show="$ctrl.isNameEdited"
                   ng-click="$ctrl.cancelCampaignName()">
            <md-icon>cancel</md-icon>
        </md-button>
        <small class="md-headline muted">
            {{$ctrl.campaign.open_date | date: 'd MMM yyyy'}} – {{$ctrl.campaign.close_date | date: 'd MMM yyyy'}}
        </small>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Edit"
                   ng-click="$ctrl.editCampaign($event)">
            <md-icon>settings</md-icon>
        </md-button>
    </h2>

    <div class="campaign__rounds-description"
         layout="row" layout-align="space-between center"
         ng-show="$ctrl.campaign.rounds.length">
        <span class="md-body-1" flex="30">Name</span>
        <span class="md-body-1" flex="10">Deadline Date</span>
        <span class="md-body-1" flex="30">Round Timeline</span>
        <span class="md-body-1" flex="10">Active Jurors</span>
        <span class="md-body-1" flex="10">Vote Method</span>
        <span flex></span>
    </div>
    <md-card class="campaign__rounds">
        <div class="campaign__round md-primary md-hue-1"
             layout="column" layout-align="start stretch"
             ng-repeat="round in $ctrl.campaign.rounds"
             ng-class="round.status === 'finalized' ? 'campaign__round--inactive' : 'campaign__round--active'">
            <div class="spinner__container" layout="row" layout-align="center center"
                 ng-show="round.loading">
                <md-progress-circular md-diameter="40"></md-progress-circular>
            </div>
            <div class="link"
                 layout="row" layout-align="space-between center"
                 ng-click="$ctrl.loadRoundDetails(round)">
                <span class="md-body-1" flex="30"
                    layout="column" layout-align="start start">
                    <span class="md-body-2">
                        {{round.name}}
                        <span class="tag tag--pill"
                            ng-show="round.status"
                            ng-class="'tag--{{round.status}}'">{{round.status}}</span>
                    </span>
                    <strong class="campaign__directions">Directions</strong>
                    <span class="campaign__directions-text" ng-show="round.directions">{{round.directions}}</span>
                    <span class="muted" ng-show="!round.directions">No directions provided</span>
                </span>
                <span class="md-body-1" flex="10" layout="row" layout-align="start center">
                    <span ng-show="round.deadline_date">
                        {{round.deadline_date | date: 'd MMM yyyy'}}<br />
                        <small class="muted">{{round.deadline_date | fromNow}}</small>
                    </span>
                    <span class="muted" ng-show="!round.deadline_date">
                        No deadline date provided
                    </span>
                </span>
                <span class="md-body-1" flex="30" layout="row" layout-align="start center">
                    <span ng-show="round.open_date">
                        {{round.open_date | date: 'd MMM yyyy'}}<br />
                        <small class="muted">{{round.open_date | fromNow}}</small>
                    </span>
                    <span class="muted"
                        ng-show="!round.open_date">
                        Round not started
                    </span>
                    <span class="campaign__dash">–</span>
                    <span ng-show="round.close_date">
                        {{round.close_date | date: 'd MMM yyyy'}}<br />
                        <small class="muted">{{round.close_date | fromNow}}</small>
                    </span>
                    <span class="muted"
                        ng-show="!round.close_date">
                        Round not ended
                    </span>
                </span>
                <span class="md-body-1" flex="10"
                    layout="column" layout-align="center start">
                    <span>
                        {{$ctrl.getActiveJurors(round).length || "0"}}
                        {{$ctrl.getActiveJurors(round).length === 1 ? "juror" : "jurors"}}
                    </span>
                    <small class="muted">Click to see details</small>
                </span>
                <span class="md-body-1" flex="10">
                    <span ng-if="round.vote_method === 'yesno'"><md-icon>thumbs_up_down</md-icon> Yes/No</span>
                    <span ng-if="round.vote_method === 'rating'"><md-icon>star_border</md-icon> Rating</span>
                    <span ng-if="round.vote_method === 'ranking'"><md-icon>sort</md-icon> Ranking</span>
                </span>
                <span flex></span>
                <md-menu md-position-mode="target-right target">
                    <md-button class="md-icon-button" aria-label="Edit"
                            ng-click="$event.stopPropagation(); $ctrl.showRoundMenu($mdOpenMenu, $event)">
                        <md-icon>more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ng-click="$ctrl.editRound(round, $event)">
                                Edit Round
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-disabled="round.status === 'active' || round.status === 'finalized'"
                                    ng-click="$ctrl.activateRound(round)">
                                Activate Round
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-disabled="round.status === 'paused' || round.status === 'finalized'"
                                    ng-click="$ctrl.pauseRound(round)">
                                Pause Round
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-disabled="round.status === 'finalized'"
                                       ng-click="$ctrl.cancelRound(round, $event)">
                                Cancel Round
                            </md-button>
                        </md-menu-item>
			<md-menu-item>
                            <md-button ng-disabled="round.status !== 'finalized'"
                                       ng-click="$ctrl.downloadRound(round)">
                                Download Results
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <div class="campaign__round-details"
                 layout="row" layout-align="space-between stretch"
                 ng-show="$ctrl.roundDetails[round.id]">
                <div class="spinner__container" layout="row" layout-align="center center"
                    ng-show="$ctrl.roundDetails[round.id] === 'loading'">
                    <md-progress-circular md-diameter="40"></md-progress-circular>
                </div>
                <div layout="column" layout-align="start stretch" flex="50"
                     ng-show="$ctrl.roundDetails[round.id] !== 'loading'">
                    <strong class="campaign__directions">Progress</strong>
                    <span class="campaign__juror-progress">{{$ctrl.roundDetails[round.id].total_open_tasks}} tasks out of {{$ctrl.roundDetails[round.id].total_tasks}} ({{$ctrl.roundDetails[round.id].percent_tasks_open | number: 0}}%) needs review.</span>
                    <div class="campaign__juror-progress"
                         layout="row" layout-align="space-between center"
                         ng-repeat="juror in $ctrl.roundDetails[round.id].jurors | orderBy : 'username'"
                         ng-class="juror.is_active ? 'campaign__juror--active' : 'campaign__juror--inactive'">
                        <span class="campaign__juror-name" flex="40">{{juror.username}}</span>
                        <span layout="column" layout-align="start start" flex
                            ng-if="juror.stats.total_tasks">
                            <md-progress-linear md-mode="determinate"
                                                value="{{100 - juror.stats.percent_tasks_open}}"></md-progress-linear>
                            <div class="campaign__progress" layout="row" layout-align="space-between center">
                                <span>{{juror.stats.total_tasks - juror.stats.total_open_tasks}} / {{juror.stats.total_tasks}} reviewed</span>
                                <span flex></span>
                                <span class="muted">{{100 - juror.stats.percent_tasks_open | number: 0}}%</span>
                            </div>
                        </span>
                        <span class="muted" flex
                            ng-if="!juror.stats.total_tasks">
                            No tasks assigned
                        </span>
                    </div>
                </div>
                <div layout="column" layout-align="start start" flex="50"
                     ng-show="$ctrl.roundDetails[round.id] !== 'loading'">
<!--
                    <strong class="campaign__directions">Voting Stats</strong>
                    <div class="campaign__juror-progress"
                         ng-repeat="(rate, count) in $ctrl.roundPreview[round.id].ratings">
                        {{rate * 4 + 1 | number: 2}} / 5: {{count}} {{count === 1 ? "image" : "images"}}
                    </div>
                    <span flex></span>
-->
                    <div class="campaign__rounds-add"
                         layout="row" layout-align="space-between center"
                         ng-show="$ctrl.campaign.rounds.length && round.vote_method !== 'ranking'">
                        <md-button ng-click="$ctrl.addRound($event)"
                                   ng-disabled="!$ctrl.roundPreview[round.id].is_closeable || !$last">
                            <md-tooltip md-direction="right">Add new round</md-tooltip>
                            <md-icon>add</md-icon>
                            <span>Add next round</span>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </md-card>
    <div class="campaign__rounds-add"
         layout="row" layout-align="space-between center"
         ng-show="!$ctrl.campaign.rounds.length">
        <md-button ng-click="$ctrl.addRound($event)">
            <md-icon>add</md-icon>
            <span>Add initial round</span>
        </md-button>
        <span flex></span>
    </div>
</div>
