@import '../../variables';

mont-campaign {
    width: 100%;

    .campaign__title {
        margin-bottom: 5px;

        & > * {
            padding: 0 10px;
        }

        form {
            display: inline;
        }

        md-input-container {
            margin: 0;

            .md-input {
                padding-bottom: 6px;
                padding-left: 0;
                margin-left: -2px;
            }

            .md-errors-spacer {
                display: none;
            }
        }
    }

    .campaign__rounds-description {
        padding: 6px 16px;
        color: $lightGrey;

        & > * {
            padding-right: 25px;
        }
    }

    .campaign__rounds {
        margin-left: 0;
        margin-right: 0;
    }

    .campaign__round {
        position: relative;
        min-height: 52px;
        padding: 10px 6px 10px 16px;
        outline: none;
        border-bottom: 1px solid rgba(0,0,0,0.12);

        & > div > *:not(:last-child) {
            padding-right: 25px;
        }

        .md-body-2 {
            font-size: 16px;
        }
    }

    .campaign__round-details {
        position: relative;
        padding: 16px;
        background: #eee;
        margin-bottom: -10px;
        margin-left: -16px;
        margin-right: -6px;
        margin-top: 5px;
        min-height: 75px;
    }

    .campaign__juror-progress {
        margin-top: 10px;
    }

    .campaign__round--active {
        cursor: pointer;
    }

    .campaign__round--inactive {
        background: #fafafa;
    }

    .campaign__dash {
        margin: 0 20px;
    }

    .campaign__progress {
        width: 100%;
        margin-top: 5px;
    }
    
    .campaign__rounds-add {
        color: $lightGrey;
    }

    .campaign__directions {
        margin-top: 10px;
    }

    .campaign__directions-text {
        white-space: pre-wrap;
    }

    .tag--completed, .tag--finalized {
        background-color: #5cb85c;
    }

    .tag--active {
        background-color: #f0ad4e;
    }
}