<md-dialog class="dialog__edit">
    <div class="spinner__container" layout="row" layout-align="center center"
            ng-show="loading.window">
        <md-progress-circular md-diameter="40"></md-progress-circular>
    </div>
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-align="start stretch">
                <h2 class="md-title no-margin dialog__title">Edit Round</h2>
                <md-input-container class="dialog__name">
                    <label>Round Name</label>
                    <input type="text" ng-model="round.name" required>
                </md-input-container>
                <md-list flex>
                    <md-list-item class="md-2-line">
                        <md-icon>{{voteMethods[round.vote_method].icon}}</md-icon>
                        <div class="md-list-item-text">
                            <h3>{{voteMethods[round.vote_method].label}}</h3>
                            <p>Vote Method</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <md-icon>date_range</md-icon>
                        <div class="md-list-item-text">
                            <md-datepicker ng-model="round.deadline_date"
                                           md-min-date="today"
                                           md-hide-icons="calendar"></md-datepicker>
                            <p>Deadline Date</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-primary" ng-click="saveEditRound(round, loading)">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>