<md-dialog class="dialog__edit">
    <div class="spinner__container" layout="row" layout-align="center center"
            ng-show="loading.window">
        <md-progress-circular md-diameter="40"></md-progress-circular>
    </div>
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-align="start stretch">
                <h2 class="md-title no-margin dialog__title">Add Round</h2>
                <span class="muted" ng-show="prevRound">based on results of {{prevRound.name}}</span>
                <md-input-container class="dialog__name">
                    <label>Round Name</label>
                    <input type="text" ng-model="round.name" required>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Directions</label>
                    <textarea ng-model="round.directions" md-maxlength="1000" rows="1"></textarea>
                </md-input-container>
                <md-list flex>
                    <md-list-item class="md-2-line">
                        <md-icon>{{voteMethods[round.vote_method].icon}}</md-icon>
                        <div class="md-list-item-text">
                            <md-select class="dialog__input" ng-model="round.vote_method">
                                <md-option ng-repeat="method in voteMethods" ng-value="method.value">
                                    {{method.label}}
                                </md-option>
                            </md-select>
                            <p>Vote Method</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-if="preview">
                        <md-icon>assignment_turned_in</md-icon>
                        <div class="md-list-item-text">
                            <md-select class="dialog__input" ng-model="round.threshold">
                                <md-option ng-repeat="(key, value) in preview.thresholds" ng-value="key">
                                    {{key}} ({{value}} images passed)
                                </md-option>
                            </md-select>
                            <p>Threshold</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-if="!preview">
                        <md-icon>cloud_download</md-icon>
                        <div class="md-list-item-text">
                        <md-autocomplete flex
                            md-input-name="autocompleteField"
                            md-input-minlength="2"
                            md-input-maxlength="1000"
                            md-autoselect="true"
                            md-selected-item="round.imports.category"
                            md-search-text="searchText"
                            md-items="item in searchCategory(searchText)"
                            md-item-text="item">
                            <md-item-template>
                                <span md-highlight-text="searchText">{{item}}</span>
                            </md-item-template>
                        </md-autocomplete>
                            <p>Wikimedia Commons Source Category</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <md-icon>date_range</md-icon>
                        <div class="md-list-item-text">
                            <md-datepicker ng-model="round.deadline_date"
                                           md-min-date="today"
                                           md-hide-icons="calendar"></md-datepicker>
                            <p>Deadline Date</p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line">
                        <div class="md-list-item-text md-offset">
                            <md-input-container class="dialog__input">
                                <input ng-model="round.quorum" type="number" ng-min="1" ng-max="round.jurors.length">
                            </md-input-container>
                            <p>Quorum</p>
                        </div>
                    </md-list-item>
                </md-list>
                <strong class="md-subhead">Jurors</strong>
                <mont-user-list ng-model="round.jurors"></mont-user-list>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-primary" ng-click="createRound(round, loading, prevRound.id)">
                Create
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>