<div class="spinner__container"
    layout="row" layout-align="center center"
    ng-show="$ctrl.loading">
  <md-progress-circular md-diameter="40"></md-progress-circular>
</div>
<div class="round"
    ng-if="$ctrl.votes.length && $ctrl.round.status === 'active'"
    infinite-scroll="$ctrl.loadMore()"
    infinite-scroll-disabled="$ctrl.loadingMore"
    infinite-scroll-distance="1">
  <div class="round__title"
      layout="row" layout-align="start center">
    <h2 class="md-headline">
      Edit votes for
      <a ui-sref="main.vote({id: $ctrl.round.link})">{{ $ctrl.round.name }}</a><br />
      <small class="muted">part of {{$ctrl.round.campaign.name}}</small>
    </h2>
    <span flex></span>
    <md-button aria-label="Sort"
      ng-if="!$ctrl.isVoting('ranking')"
      ng-disabled="true">
      Order by
    </md-button>
    <md-select
      ng-if="!$ctrl.isVoting('ranking')"
      ng-model="$ctrl.sort.order_by"
      ng-change="$ctrl.reorderList()">
      <md-option ng-value="'date'">vote date</md-option>
      <md-option ng-value="'value'">score</md-option>
    </md-select>
    <md-select
      ng-if="!$ctrl.isVoting('ranking')"
      ng-model="$ctrl.sort.sort"
      ng-change="$ctrl.reorderList()">
      <md-option ng-value="'asc'">ascending</md-option>
      <md-option ng-value="'desc'">descending</md-option>
    </md-select>
    <span ng-if="!$ctrl.isVoting('ranking')">&nbsp;&nbsp;|</span>
    <md-button ng-disabled="true">
      Gallery size
    </md-button>
    <md-button class="md-icon-button" aria-label="Grid size"
           ng-class="{'md-primary': $ctrl.size === 3}"
           ng-click="$ctrl.setGallerySize(3)">
      <md-tooltip>Big thumbnails size</md-tooltip>
      <md-icon>photo_size_select_actual</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Grid size"
           ng-class="{'md-primary': $ctrl.size === 2}"
           ng-click="$ctrl.setGallerySize(2)">
      <md-tooltip>Medium thumbnails size</md-tooltip>
      <md-icon>photo_size_select_large</md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Grid size"
           ng-class="{'md-primary': $ctrl.size === 1}"
           ng-click="$ctrl.setGallerySize(1)">
      <md-tooltip>Small thumbnails size</md-tooltip>
      <md-icon>photo_size_select_small</md-icon>
    </md-button>
    <span>&nbsp;&nbsp;</span>
    <md-button class="md-primary"
           ng-if="!$ctrl.isVoting('ranking')"
           ng-disabled="!$ctrl.edits.length"
           ng-click="$ctrl.save()">
      <md-icon>save</md-icon>
      Save Changes ({{$ctrl.edits.length}})
    </md-button>
    <md-button class="md-primary"
           ng-if="$ctrl.isVoting('ranking')"
           ng-click="$ctrl.saveRanking()">
      <md-icon>save</md-icon>
      Save Changes
    </md-button>
    <div class="round__stats" layout="row" layout-align="start center">
    <span ng-if="$ctrl.round.show_stats && $ctrl.data.method == 'yesno'">
      <small style="font-size: 12pt">
        <h3 class="md-headline">Your votes:</h3>
          <ul>
            <li>{{$ctrl.data.stats.yes}}&nbsp;<md-icon>thumb_up</md-icon></li>
            <li>{{$ctrl.data.stats.no}}&nbsp;<md-icon>thumb_down</md-icon></li>
          </ul>
      </small>
    </span>
    <span ng-if="$ctrl.round.show_stats && $ctrl.data.method == 'rating'">
      <small style="font-size: 12pt">
        <h3 class="md-headline">Your votes:</h3>
        <ul>
          <li>5 <md-icon>star_rate</md-icon>: {{$ctrl.data.stats[5]}}</li>
          <li>4 <md-icon>star_rate</md-icon>: {{$ctrl.data.stats[4]}}</li>
          <li>3 <md-icon>star_rate</md-icon>: {{$ctrl.data.stats[3]}}</li>
          <li>2 <md-icon>star_rate</md-icon>: {{$ctrl.data.stats[2]}}</li>
          <li>1 <md-icon>star_rate</md-icon>: {{$ctrl.data.stats[1]}}</li>
        </ul>
      </small>
    </span>
  </div>
  </div>

  <grid-list class="gallery" sv-root sv-part="$ctrl.votes">
    <grid-tile class="gallery__image"
           ng-class="'gallery__image--size-'+$ctrl.size"
           ng-repeat="image in $ctrl.votes" sv-element>
      <md-button class="md-icon-button gallery__drag-icon"
             ng-show="$ctrl.isVoting('ranking')" sv-handle>
        <md-icon>drag_handle</md-icon>
      </md-button>
      <div class="gallery__image-containter link" layout="column" layout-align="center center"
         ng-click="$ctrl.openImage(image, $event)">
        <img ng-src="{{$ctrl.getImageName(image)}}">
      </div>
      <grid-tile-footer class="gallery__footer" ng-if="$ctrl.isVoting('ranking')">
        <h3 class="gallery__footer-name">
          <div layout="row" layout-align="space-between center">
            <strong ng-show="$ctrl.isVoting('ranking')" flex>{{$index+1 | ordinal}} place</strong>
            <strong ng-show="!$ctrl.isVoting('ranking')" flex>{{image.value}}</strong>
            <md-icon ng-show="image.review">
              rate_review
              <md-tooltip md-direction="top">Review added</md-tooltip>
            </md-icon>
          </div>
          <span>Image #{{image.entry.id}}</span>
        </h3>
      </grid-tile-footer>
      <div class="muted">
        voted {{ image.date | fromNow }}<br />
        {{ image.date | date: "d MMM yyyy 'at' H:mm UTC"}}
      </div>
      <div class="gallery__rating"
         layout="row" layout-align="center center"
         ng-if="$ctrl.isVoting('rating')">
        <md-button class="md-icon-button"
              ng-repeat="rate in $ctrl.rating.rates"
              ng-click="$ctrl.setRate(image, rate)"
              ng-class="{'md-primary': image.value >= rate, 'md-edited': image.value >= rate && image.edited }">
          <md-icon>
            star_rate
            <md-tooltip>Rate {{rate}}/5</md-tooltip>
          </md-icon>
        </md-button>
      </div>
      <div class="gallery__rating" ng-if="$ctrl.isVoting('yesno')">
        <md-button flex="25"
            ng-click="$ctrl.setRate(image, 5)"
            ng-class="{'md-primary': image.value === 5, 'md-edited': image.value === 5 && image.edited }">
          <md-icon>
            thumb_up
          </md-icon>
          Accept
        </md-button>
        <md-button flex="25"
            ng-click="$ctrl.setRate(image, 1)"
            ng-class="{'md-primary': image.value === 1, 'md-warn': image.value === 1 && image.edited }">
          <md-icon>
            thumb_down
          </md-icon>
          Decline
        </md-button>
      </div>
    </grid-tile>
  </grid-list>
  <div ng-show='$ctrl.loadingMore'></div>
</div>
<div class="central-error" layout="column" layout-align="center center"
   ng-show="$ctrl.error">
  <h2 class="md-display-1">{{$ctrl.error.message}}</h2>
  <h2 class="md-headline">{{$ctrl.error.detail}}</h2>
</div>
<div class="central-error" layout="column" layout-align="center center"
   ng-show="$ctrl.round.status !== 'active' && !$ctrl.error">
  <h2 class="md-headline">this round is {{$ctrl.round.status}}</h2>
</div>
<div class="central-error" layout="column" layout-align="center center"
   ng-show="$ctrl.images && !$ctrl.images.length && !$ctrl.loading">
  <h2 class="md-headline" ng-hide="$ctrl.isVoting('ranking')">you haven't voted on any image this round</h2>
</div>