<md-dialog class="dialog__image">
    <form ng-cloak>
        <md-dialog-content layout="row" layout-align="start stretch">
            <div class="dialog__image-container" flex layout="row" layout-align="center center">
                <img ng-src="https://commons.wikimedia.org/w/thumb.php?f={{image.title}}&w=1024">
            </div>
            <div class="dialog__image-description">
                <h2 class="md-title">{{image.name}}</h2>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>