@import '../../variables';

.round {
    width: 100%;

    .round__title {
        margin-bottom: 5px;
    }
}

.gallery {
    .gallery__image {
        background: #ccc;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}