<div class="image"
     layout="row" layout-align="center start"
     ng-if="!$ctrl.error && $ctrl.round.status === 'active' && $ctrl.images.length">
    <div class="image__gallery" layout="row" layout-align="center center" flex
         mont-key-actions actions="$ctrl.keyDown">
        <img mont-src="{{$ctrl.getImageName($ctrl.rating.current)}}">
    </div>
    <div class="image__description">
        <div layout="row" layout-align="start center">
            <h1>Image #{{$ctrl.rating.current.entry.id}}</h1>
            <span flex></span>
            <span class="muted">{{$ctrl.stats.total_open_tasks}} images remaining</span>
        </div>
        <h3 class="md-title">Vote</h3>
        <div class="image__voting--star" layout="row" layout-align="start end">
            <div class="spinner__container" layout="row" layout-align="center center"
                 ng-show="$ctrl.loading">
                <md-progress-circular md-diameter="40"></md-progress-circular>
            </div>
            <md-button class="md-icon-button" flex="25"
                       ng-click="$ctrl.rating.setRate(5)">
                <md-icon>
                    thumb_up
                    <md-tooltip>Accept</md-tooltip>
                </md-icon>
            </md-button>
            <md-button class="md-icon-button" flex="25"
                       ng-click="$ctrl.rating.setRate(1)">
                <md-icon>
                    thumb_down
                    <md-tooltip>Decline</md-tooltip>
                </md-icon>
            </md-button>
            <span class="image__divider">|</span>
            <md-button class="image__skip-btn" ng-click="$ctrl.rating.getNext(true)">
                <md-tooltip>Skip voting on this file</md-tooltip>
                Skip
            </md-button>
        </div>
        <h3 class="md-title">Description</h3>
        <md-list flex>
            <md-list-item class="md-2-line">
                <md-icon>
                    cloud_upload
                    <md-tooltip>File upload date</md-tooltip>
                </md-icon>
                <div class="md-list-item-text">
                    <h3>{{$ctrl.rating.current.entry.upload_date | date}}</h3>
                    <p>{{$ctrl.rating.current.entry.upload_date | date:'EEEE'}}, {{$ctrl.rating.current.entry.upload_date | date:'H:mm'}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <md-icon>
                    image
                    <md-tooltip>File resolution</md-tooltip>
                </md-icon>
                <div class="md-list-item-text">
                    <h3>{{$ctrl.rating.current.entry.resolution / 1000000 | number:2}} Mpix</h3>
                    <p>{{$ctrl.rating.current.entry.width}} × {{$ctrl.rating.current.entry.height}}</p>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <h3 class="md-title">External links</h3>
            <div layout="row" layout-align="center center">
                <md-button flex="50"
                           ng-click="$ctrl.openURL($ctrl.rating.current.entry.url)">
                    Original file
                </md-button>
                <md-button class="md-primary" flex="50"
                           ng-click="$ctrl.openURL('https://commons.wikimedia.org/wiki/File:' + $ctrl.rating.current.entry.name)">
                    Commons page
                </md-button>
            </div>
        </md-list>
    </div>
</div>
<img class="invisible" ng-src="{{$ctrl.getImageName($ctrl.rating.next)}}">
<div class="central-error" layout="column" layout-align="center center"
     ng-show="$ctrl.error">
    <h2 class="md-display-1">{{$ctrl.error.message}}</h2>
    <h2 class="md-headline">{{$ctrl.error.detail}}</h2>
</div>
<div class="central-error" layout="column" layout-align="center center"
     ng-show="$ctrl.round.status !== 'active' && !$ctrl.error">
    <h2 class="md-headline">this round is {{$ctrl.round.status}}</h2>
</div>
<div class="central-error" layout="column" layout-align="center center"
     ng-show="$ctrl.images && !$ctrl.images.length">
    <h2 class="md-headline">you voted on all images in the round</h2>
    <span>good job! :)</span>
</div>