<md-toolbar class="toolbar"
    layout="row" layout-align="center center">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <img ng-src="{{$ctrl.logo}}" alt="Montage Logo">
    </md-button>
    <h2 class="link" ui-sref="main.dashboard">
      montage
      <sup>{{$ctrl.config.env.name.toUpperCase()}}</sup>
    </h2>
    <span flex></span>

    <md-button class="toolbar__username text-normal"
        ng-if="$ctrl.user.username">
      <md-icon>face</md-icon>
      {{ $ctrl.user.username }}
    </md-button>
    <md-button class="toolbar__username text-normal"
        ng-if="$ctrl.user.username"
        ng-click="$ctrl.logout()">
      Logout
    </md-button>
    <md-button class="toolbar__username text-normal"
        ng-if="!$ctrl.user.username"
        ng-click="$ctrl.login()">
      Login
    </md-button>
  </div>
</md-toolbar>
