@import '../../variables';

mont-dashboard {
    & > div {
        width: 100%;
    }

    .campaign__add {
        margin-bottom: 15px;
    }

    .campaign__zero {
        height: 100%;
        color: $lightGrey;
    }
}

