<div>
    <mont-campaign ng-repeat="campaign in $ctrl.campaigns"
                   campaign="campaign"
                   type="$ctrl.type"
                   user="$ctrl.user">
</div>
<div flex></div>
<div class="campaign__zero" layout="column" layout-align="center center"
     ng-show="$ctrl.error">
    <h2 class="md-display-1">{{$ctrl.error.message}}</h2>
    <h2 class="md-headline">{{$ctrl.error.detail}}</h2>
    <md-button class="md-primary" ng-click="$ctrl.logout()">Logout</md-button>
</div>