<md-dialog style="width: 400px;">
    <div class="spinner__container" layout="row" layout-align="center center"
            ng-show="loading">
        <md-progress-circular md-diameter="40"></md-progress-circular>
    </div>
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-align="start stretch">
                <h2 class="md-title no-margin">Add new campaign</h2>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="campaign.name" type="text">
                </md-input-container>
                <!--
                <div layout="row" layout-align="start start">
                    <md-datepicker ng-model="campaign.open_date" md-placeholder="Open Date"></md-datepicker>
                    <md-datepicker ng-model="campaign.close_date" md-placeholder="Close Date"></md-datepicker>
                </div>
                <strong>Campaign coordinators</strong>
                <md-contact-chips
                    ng-model="campaign.coordinators"
                    ng-model-options="{ debounce: 200 }"
                    md-contacts="searchUser($query)"
                    md-contact-name="name"
                    md-require-match="true"
                    md-highlight-flags="i"
                    filter-selected="true"
                    placeholder="Enter username">
                </md-contact-chips>
                -->
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-primary" ng-click="create()">
                Create
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>