<footer layout="row" layout-align="center center">
  <div class="footer__container"
      layout="row" layout-align="space-between center">
    <span>
      &copy; 2017 //
      by <a href="//github.com/hatnote" target="_blank">Hatnote</a> &nbsp;&nbsp;·&nbsp;&nbsp;
      <a href="//commons.wikimedia.org/wiki/Commons:Montage" target="_blank">about Montage</a> ·
      <a href="//github.com/hatnote/montage/" target="_blank">source code</a>
    </span>
    <span flex></span>
    <span>
      version <strong>{{ $ctrl.config.package.version }}</strong> ·
      env <a href="meta/">{{ $ctrl.config.env.name }}</a>
    </span>
  </div>
</footer>