@import "@material/typography/mdc-typography";

$mdc-theme-primary: #36c;
$mdc-theme-secondary: #fff;

.mdc-top-app-bar {
    border-bottom: 4px solid #fff;
}

html {
  @include mdc-typography('body1');
}

body {
    background-color: rgba(250, 250, 250)
}

h1 {
  @include mdc-typography('headline1');
  font-size: 2em;
  line-height: 2em;
  font-weight: bold;
}

h2 {
  @include mdc-typography('headline2');
  font-size: 1.6em;
  line-height: 1.6em;
}

h3 {
  @include mdc-typography('headline3');
}

h4 {
  @include mdc-typography('headline4');
}

h5 {
  @include mdc-typography('headline5');
}

h6 {
  @include mdc-typography('headline6');
}

caption {
  @include mdc-typography('caption');
}

code, pre {
  font-family: 'Roboto Mono', monospace;
}

small {
  font-size: .9em;
}

big {
  font-size: 1.1em;
}

b, strong {
  font-weight: bold;
}
