<div class="image"
   layout="row" layout-align="center stretch"
   ng-if="!$ctrl.error && $ctrl.round.status === 'active' && $ctrl.images.length">

  <div class="image__container" flex="none"
      layout="row" layout-align="center center" 
      mont-key-actions actions="$ctrl.keyDown">
    <img mont-src="{{ $ctrl.getImageName($ctrl.rating.current) }}">
    <md-button class="md-icon-button image__sidebar-hide-btn"
        ng-click="$ctrl.showSidebar = !$ctrl.showSidebar">
      <md-icon ng-show="$ctrl.showSidebar">
        keyboard_arrow_right
        <md-tooltip>Hide panel</md-tooltip>
      </md-icon>
      <md-icon ng-show="!$ctrl.showSidebar">
        keyboard_arrow_left
        <md-tooltip>Show panel</md-tooltip>
      </md-icon>
    </md-button>
  </div>

  <div class="image__description--small"
      layout="column" layout-align="start start"
      ng-show="!$ctrl.showSidebar && false">
    <div class="spinner__container"
        layout="row" layout-align="center center"
        ng-show="$ctrl.loading">
      <md-progress-circular md-diameter="40"></md-progress-circular>
    </div>
    <mont-votebox
        layout="column" layout-align="start start"
        type="$ctrl.round.vote_method"
        vote-action="$ctrl.rating.setRate">
    </mont-votebox>
    <md-button class="md-icon-button image__skip-btn"
        ng-click="$ctrl.rating.setRate()">
      <md-icon>
        skip_next
        <md-tooltip>Skip voting on this file</md-tooltip>
      </md-icon>
    </md-button>
  </div>

  <div class="image__description" flex="none"
      layout="column" layout-align="start stretch"
      ng-show="$ctrl.showSidebar">

    <div class="description__name"
        layout="column" layout-align="start stretch">
      <h1 ng-if="!$ctrl.round.config.show_filename">
        Image #{{ $ctrl.rating.current.entry.id }}
      </h1>
      <h1 ng-if="$ctrl.round.config.show_filename">
        {{ $ctrl.rating.current.name.split("_").join(" ") }}
      </h1>
      <span class="muted">{{ $ctrl.stats.total_open_tasks }} images remaining</span>
    </div>

    <div class="description__actions"
        layout="row" layout-align="start center">
      <md-button flex
          ng-href="{{ $ctrl.rating.current.entry.url }}"
          target="_blank">
        <md-icon>photo_size_select_actual</md-icon>
        Show full-size
      </md-button>
      <md-button class="md-primary" flex
          ng-href="{{ '//commons.wikimedia.org/wiki/File:' + $ctrl.rating.current.entry.name }}"
          target="_blank">
        <md-icon>link</md-icon>
        Commons page
      </md-button>
    </div>

    <h3 class="md-title">Vote</h3>
    <div class="image__voting--star"
        layout="column" layout-align="start stretch">
      <mont-votebox flex
          layout="row" layout-align="center center"
          type="$ctrl.round.vote_method"
          vote-action="$ctrl.rating.setRate">
      </mont-votebox>
      <div layout="row" layout-align="center center">
        <md-button flex
            ng-click="$ctrl.rating.setRate()">
          <md-icon>watch_later</md-icon>
          Skip / vote later
        </md-button>
        <md-button flex
            ng-disabled="true">
          <md-icon>report</md-icon>
          Report file
        </md-button>
      </div>
    </div>

    <div class="description__details">
      <h3 class="md-title">Description</h3>
      <md-list flex>
        <md-list-item class="md-2-line">
          <md-icon>
            cloud_upload
            <md-tooltip>File upload date</md-tooltip>
          </md-icon>
          <div class="md-list-item-text">
            <h3>
              {{ $ctrl.rating.current.entry.upload_date | date:'d MMM yyyy' }}
            </h3>
            <p>
              {{ $ctrl.rating.current.entry.upload_date | date:'EEEE' }},
              {{ $ctrl.rating.current.entry.upload_date | date:'H:mm' }}
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line">
          <md-icon>
            image
            <md-tooltip>File resolution</md-tooltip>
          </md-icon>
          <div class="md-list-item-text">
            <h3>
              {{ $ctrl.rating.current.entry.resolution / 1000000 | number:2 }} Mpix
            </h3>
            <p>
              {{ $ctrl.rating.current.entry.width }} ×
              {{ $ctrl.rating.current.entry.height }}
            </p>
          </div>
        </md-list-item>
        <md-list-item class="md-2-line"
            ng-show="$ctrl.rating.current.history">
          <md-icon>
            history
            <md-tooltip>File history</md-tooltip>
          </md-icon>
          <div class="md-list-item-text">
            <h3>
              {{ $ctrl.rating.current.history.length }}
              version<span ng-if="$ctrl.rating.current.history.length > 1">s</span>
            </h3>
            <p>
              last one at
              {{ $ctrl.rating.current.history[0].timestamp | date:'d MMM yyyy' }}
            </p>
          </div>
          <md-button class="md-secondary md-icon-button"
              ng-href="{{ '//commons.wikimedia.org/wiki/File:' + $ctrl.rating.current.entry.name + '#filehistory' }}"
              target="_blank">
            <md-icon>link</md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>

<img class="invisible" ng-src="{{ $ctrl.getImageName($ctrl.rating.next) }}">
<div class="central-error" layout="column" layout-align="center center"
   ng-show="$ctrl.error">
  <h2 class="md-display-1">{{$ctrl.error.message}}</h2>
  <h2 class="md-headline">{{$ctrl.error.detail}}</h2>
</div>
<div class="central-error" layout="column" layout-align="center center"
   ng-show="$ctrl.round.status !== 'active' && !$ctrl.error">
  <h2 class="md-headline">this round is {{$ctrl.round.status}}</h2>
</div>
<div class="central-error" layout="column" layout-align="center center"
   ng-show="$ctrl.images && !$ctrl.images.length">
  <h2 class="md-headline">you voted on all images in the round</h2>
  <span>good job! :)</span>
  <br />
  <span><md-icon>new_releases</md-icon> You can edit your votes on <a href="" ui-sref="main.juror.vote-edit({id: $ctrl.round.id})">this page</a></span>
</div>