mont-vote-single {

  .image {
    padding-top: 25px;
    height: calc(100vh - 135px);
  }

  .image__container {
    position: relative;
    background: #e6e6e6;

    &.image__container--with-sidebar {
      width: calc(100vw - 450px);
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    .image__sidebar-hide-btn {
      position: absolute;
      top: 5px;
      right: 5px; 
    }
  }

  .image__description {
    margin-left: 20px;
    width: 350px;
    overflow: auto;

    h1 {
      margin: 0;
    }

    .description__actions {
      margin-top: 20px;
    }

    .description__details {
      md-list-item > md-icon {
        cursor: default;
      }
    }

    .md-button {
      font-weight: 600;
      text-transform: none;
    }
  }
}