<h3 class="campaign__title md-display-1">
  <md-button class="md-icon-button" aria-label="Show/hide campaign"
      ng-click="$ctrl.collapse()">
    <md-icon ng-if="$ctrl.collapsed">keyboard_arrow_right</md-icon>
    <md-icon ng-if="!$ctrl.collapsed">keyboard_arrow_down</md-icon>
  </md-button>
  {{ $ctrl.campaign.name }}
</h3>
<div class="campaign__rounds"
      layout="column" layout-align="start stretch"
      ng-show="!$ctrl.collapsed">
  <div class="round"
        layout="row" layout-align="center start"
        ng-class="{ 'round--last': $last }"
        ng-repeat="round in $ctrl.rounds">
    <div class="round__status {{'round__status--' + round.status}}"
          layout="row" layout-align="center center">
      <span ng-if="round.vote_method === 'yesno'"><md-icon>thumbs_up_down</md-icon></span>
      <span ng-if="round.vote_method === 'rating'"><md-icon>star_border</md-icon></span>
      <span ng-if="round.vote_method === 'ranking'"><md-icon>sort</md-icon></span>
    </div>
    <span class="round__line"></span>
    <div flex>
      <h2 class="round__name">
        <span>{{ round.name }}</span><br />
        <span class="muted text-capitalize">{{ $ctrl.voteMethods[round.vote_method].label }} · {{ round.status }}</span>
      </h2>
      <md-card class="round__description" flex>
        <md-card-content>
          <div layout="row" layout-align="center stretch">
            <div class="round__directions" flex>
              <h4>Deadline Date</h4>
              <p>{{ round.deadline_date | date: 'd MMM yyyy' }} · <span class="muted">{{ round.deadline_date | fromNow }}</span></p>
              <h4>Directions</h4>
              <p>{{ round.directions }}<span class="muted" ng-if="!round.directions">No directions provided.</span></p>
            </div>
            <div class="round__progress" flex="15"
                  layout="column" layout-align="start stretch"
                  ng-if="round.vote_method !== 'ranking'">
              <h4>Your Progress</h4>
              <h3>{{ 100 - round.percent_tasks_open | number : 1 }}%</h3>
              <span><strong>{{ round.total_tasks - round.total_open_tasks }}</strong> out of <strong>{{ round.total_tasks }}</strong></span>
              <span class="muted"><strong>{{ round.total_open_tasks}}</strong> pending</span>
            </div>
            <div class="round__progress" flex="15"
                  layout="column" layout-align="start stretch"
                  ng-if="round.vote_method === 'ranking'">
              <h4>Your Progress</h4>
              <h3>{{ 100 - round.percent_tasks_open | number : 1 }}%</h3>
              <span ng-if="!round.total_open_tasks"><strong><md-icon>done</md-icon> Voted</strong></span>
              <span ng-if="round.total_open_tasks"><strong><md-icon>clear</md-icon> Not Voted</strong></span>
            </div>
          </div>
        </md-card-content>
      </md-card>
      <div class="round__actions"
            layout="row" layout-align="end center"
            ng-if="round.status !== 'finalized'">
        <md-button class="md-primary"
            ng-disabled="!$ctrl.isRoundActive(round)"
            ng-click="$ctrl.goRound(round, 'vote')">
          <md-icon ng-if="round.vote_method === 'yesno'">thumbs_up_down</md-icon>
          <md-icon ng-if="round.vote_method === 'rating'">star_border</md-icon>
          <md-icon ng-if="round.vote_method === 'ranking'">sort</md-icon>
          Vote
        </md-button>
        <md-button
            ng-disabled="!$ctrl.isRoundActive(round)"
            ng-click="$ctrl.goRound(round, 'vote-edit')">
          <md-icon>mode_edit</md-icon>
          Edit Previous Votes
        </md-button>
      </div>
    </div>
  </div>
</div>
