@import '../../styles/variables';

mont-campaign {
  .campaign__rounds {
    
  }

  .round {
    position: relative;

    .round__status {
      width: 40px;
      height: 40px;
      margin-top: 0;
      border-radius: 20px;

      md-icon {
        color: white;
      }

      &.round__status--active {
        background: #3498db;
      }

      &.round__status--finalized {
        background: #2ecc71;
      }
    }

    .round__line {
      position: absolute;
      display: block;
      height: calc(100% - 56px);
      top: 48px;
      left: 19px;
      border-left: 1px solid #d6d6d6;
    }

    .round__name {
      margin-top: 8px;
      margin-left: 24px;
      font-size: 20px;

      .muted {
        font-size: 16px;
        font-weight: 400;
      }
    }

    .round__description {
      margin: 0;
      margin-left: 24px;
      box-shadow: none;
      border-radius: 0;

      .round__juror {
        display: inline-block;
        position: relative;
        border-radius: 16px;
        padding: 0 6px;
        padding-left: 38px;
        font-size: 12px;
        font-weight: 600;
        margin-right: 5px;
        margin-bottom: 5px;
        line-height: 32px;
        background: #e0e0e0;

        .juror__avatar {
          display: inline-block;
          width: 32px;
          height: 32px;
          text-align: center;
          border-radius: 16px;
          position: absolute;
          left: 0;
          top: 0;
          color: white;
        }

        md-icon.material-icons {
          font-size: 20px;
          width: 20px;
          height: 20px;
          min-height: 20px;
          min-width: 20px;
          margin-left: 5px;
        }
      }

      .round__directions {
        margin-right: 16px;

        p {
          white-space: pre-line;
        }
      }
    }

    md-card-content {
      padding: 24px 16px;

      h4 {
        margin-top: 0;
        margin-bottom: 16px;
      }
    }

    .round__actions {
      margin-top: 10px;
      margin-bottom: 20px;

      .md-button {
        font-weight: 600;
        text-transform: none;
      }
    }

    &.round--last {
      .round__line {
        display: none;
      }
    }
  }
}