@import '../../styles/variables';

mont-campaign {
  .md-button {
    font-weight: 600;
    text-transform: none;
  }

  .campaign__title {
    margin-bottom: 0;
  }

  .campaign__rounds {
    margin-top: 25px;
  }

  .round__settings {
    font-size: 14px;
    line-height: 1.5;
  }

  .round__juror-container {
    display: inline-block;
    margin-right: 20px;

    .round__juror {
      display: block;
    }

    .juror__stats {
      margin-top: 10px;
      text-align: right;
      font-size: 14px;
      line-height: 1.4;
    }

    .juror__percentage {
      font-size: 26px;
    }
  }
}