<h2 class="campaign__title md-display-2"
    layout="row" layout-align="space-between center">
  <span>{{ $ctrl.campaign.name }}</span>
  <md-button
      ng-click="$ctrl.editCampaign(round)">
    <md-icon>settings</md-icon>
    Edit Campaign
  </md-button>
</h2>
<span class="campaign__dates muted">
  {{ $ctrl.campaign.open_date | date: 'd MMM yyyy' }} -
  {{ $ctrl.campaign.close_date | date: 'd MMM yyyy' }}
</span>
<div class="campaign__coordinators">
  <span class="round__juror" ng-repeat="user in $ctrl.campaign.coordinators | orderBy:'username'">
    <span class="juror__avatar" mont-avatar="{{ user.username }}">
      {{ user.username[0].toUpperCase() }}
    </span> {{ user.username }}
  </span>
</div>

<div class="campaign__rounds"
      layout="column" layout-align="start stretch">
  <div ng-repeat="round in $ctrl.campaign.rounds">
    <mont-round
      ng-if="!round.edit"
      round="round" last="$last">
    </mont-round>
    <mont-round-edit
      ng-if="round.edit"
      round="round" last="$last">
    </mont-round-edit>
  </div>
  <div ng-if="!$ctrl.loading && !$ctrl.campaign.rounds.length">
    <mont-round-new
      campaign="$ctrl.campaign" index="0">
    </mont-round-new>
  </div>
</div>
