
html, body {
    font: 14pt 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.toc {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

.mdl-montage .mdl-layout__header {
    background-color: rgb(96,125,139);
    color: #fff;
    height: 64px;
    z-index: 0;
}

.mdl-montage .mdl-layout__header a {
    color: #fff;
    text-decoration: underline;
}

.mdl-montage .mdl-layout__header a:hover {
    text-decoration: none;
}


.mdl-montage .mdl-button {
    line-height: 24px;
    margin: 0 6px;
    height: 40px;
    min-width: 0;
    line-height: 24px;
    padding: 8px;
    width: 40px;
    border-radius: 50%;
}

.mdl-montage .mdl-button img {
    width: 100%;
    height: 100%;
}

.mdl-montage .mdl-layout__header h1 {
    font-size: inherit;
    letter-spacing: 0.1px;
}

.mdl-montage {
  height: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mdl-montage .mdl-card > * {
  height: auto;
}

.mdl-montage .mdl-card h3 {
    font-size: 1em;
    line-height: 20px;
}

.mdl-montage .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}

.mdl-montage section.section--center {
    max-width: 860px;
    margin: 48px auto;
}

.mdl-montage section > header{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-montage section .section__text {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 8px;
}

.mdl-montage section.section--center .section__text:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,.13);
}
