<div class="login" layout="column" layout-align="center center">
    <img ng-src="{{$ctrl.img.logo}}" alt="Montage Logo" class="login__logo">
    <md-card class="login__frame">
        <div class="login__spinner" layout="row" layout-align="center center"
             ng-show="$ctrl.loading">
            <md-progress-circular md-diameter="40"></md-progress-circular>
        </div>
        <md-button class="md-raised md-primary"
                   ng-click="$ctrl.login()"
                   ng-disabled="$ctrl.loading">Sign in using Wikimedia</md-button>
        <div class="login__info" layout="row" layout-align="start start">
            <md-icon flex="15">security</md-icon>
            <span flex>
                You will be redirected to Meta-Wiki in order to confirm your indentity. Montage will not publish anything on Wikimedia projects using your account.<br /><br />
                If you don't have Wikimedia account, you can create one by clicking "Join Meta".
            </span>
        </div>
    </md-card>
</div>