$gray: rgba(0,0,0,0.54);

mont-login {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100vh;

    &:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: .75;
        background-image: url('../../images/hero.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }

    .login__frame {
        position: relative;
        max-width: 100%;
        width: 650px;
        padding: 35px;
    }

    .login__logo {
        margin-right: 30px;
        padding-right: 35px;
        border-right: 2px solid #eee;
    }

    .login__info {
        color: $gray;
        margin: 8px;
        margin-top: 30px;
    }

    .login__spinner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(255,255,255,.75);
    }
}