@import '../../../styles/variables';

mont-campaign-admin-box {
  display: inline-block;

  md-card {
    width: 320px;
    margin-right: 6px;
    margin-left: 0;
    padding: 24px 16px;
    cursor: pointer;
  }

  .campaign__name {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 22px;
  }

  .campaign__dates {
    color: $lightGrey;
    font-size: 14px;
  }


}