.login {
   md-card {
    padding: 16px;
    max-width: 400px;
    margin-top: 40px;
    box-shadow: none;
  }

  .login__title {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
  }

  p {
    line-height: 1.5;
  }

  .md-button {
    font-weight: 600;
    text-transform: none;
  }
}
