.md-button {
  &.active {
    font-weight: 500;
  }

  md-progress-circular {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    path {
      stroke: rgba(0, 0, 0, 0.38);
      stroke-width: 2.5;
    }
  }

  &.md-mini md-icon.material-icons {
    font-size: 20px;
    margin-top: 2px;
  }

  &.md-icon-button--tiny {
    width: 20px;
    height: 20px;
    min-height: 20px;
    margin: 0;
    padding: 0;
  }
}

md-list {
  padding: 0;

  md-list-item.md-2-line {
    min-height: 55px;
    height: 55px;
  }
}

md-tooltip .md-content {
  height: auto !important;
  font-size: 14px;
}

md-input-container {
  &.no-margin {
    margin: 0;
  }
  &.no-margin-bottom {
    margin-bottom: 0;
  }
  &.no-margin-top {
    margin-top: 0;
  }
}

md-dialog {
  .md-button {
    font-weight: 600;
    text-transform: none;
  }
  md-input-container {
    margin-bottom: 0;
    margin-top: 0;
  }
  .md-dialog-content-body {
    white-space: pre-line;
  }
}
