@import 'variables';

.round {
  position: relative;

  .round__status {
    width: 40px;
    height: 40px;
    margin-top: 0;
    border-radius: 20px;
    background: $grey;

    md-icon {
      color: white;
    }

    &.round__status--active { background: $blue; }
    &.round__status--finalized { background: $green; }
    &.round__status--paused { background: $yellow; }
  }

  .round__line {
    position: absolute;
    display: block;
    height: calc(100% - 56px);
    top: 48px;
    left: 19px;
    border-left: 1px solid #d6d6d6;
  }

  .round__name {
    margin-top: 5px;
    margin-left: 24px;
    font-size: 20px;

    .muted {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .round__description {
    margin: 0;
    margin-left: 24px;
    margin-bottom: 10px;
    box-shadow: none;
    border-radius: 0;
    .round__directions {
      margin-right: 16px;

      p {
        white-space: pre-line;
        line-height: 1.5;
      }
    }
  }

  md-card-content {
    padding: 24px 16px;

    h4 {
      margin-top: 0;
      margin-bottom: 16px;
    }
  }

  .round__actions {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 24px;

    .md-button {
      font-weight: 600;
      text-transform: none;
    }
  }

  &.round--last {
    .round__line {
      display: none;
    }
  }
}

.round__juror {
  display: inline-block;
  position: relative;
  height: 26px;
  border-radius: 13px;
  padding: 0 10px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 600;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 26px;
  background: #e0e0e0;

  .juror__avatar {
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    border-radius: 13px;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
  }

  md-icon.material-icons {
    width: 20px;
    height: 20px;
    min-height: 20px;
    min-width: 20px;
    margin-left: 5px;
    margin-right: -6px;
    margin-top: -2px;
    font-size: 20px;
    cursor: pointer;
  }

  &.round__juror--small {
    width: 26px;
    padding: 0;
  }
}