@import 'variables';

a {
    text-decoration: none;
    color: rgb(33,150,243);
}

strong {
    font-weight: 500;
}

.link {
    cursor: pointer;
}

.no-margin {
    margin: 0;
    padding: 0;
}

.margin__left {
    margin-left: 15px;
}

.muted {
    color: $lightGrey;
}

.small-justified {
    font-size: 90%;
    text-align: justify;
}

.full-width {
    width: 100%;
}

.invisible {
    width: 0;
    height: 0;
    opacity: 0;
}
