@import 'variables';

a {
  text-decoration: none;
  color: #36c;
}

strong {
  font-weight: 600;
}

.link {
  cursor: pointer;
}

.no-margin {
  margin: 0;
  padding: 0;
}

.margin__left {
  margin-left: 15px;
}

.muted {
  color: $lightGrey;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-primary {
  color: $blue;
}

.small-justified {
  font-size: 90%;
  text-align: justify;
}

.full-width {
  width: 100%;
}

.invisible {
  width: 0;
  height: 0;
  opacity: 0;
}
