<div class="round round--edit round--last"
      layout="row" layout-align="center start">
  <div class="round__status"
        layout="row" layout-align="center center"
        ng-if="$ctrl.showForm">
    <span ng-if="$ctrl.round.vote_method === 'yesno'"><md-icon>thumbs_up_down</md-icon></span>
    <span ng-if="$ctrl.round.vote_method === 'rating'"><md-icon>star_border</md-icon></span>
    <span ng-if="$ctrl.round.vote_method === 'ranking'"><md-icon>sort</md-icon></span>
  </div>
  <span class="round__line"></span>
  <md-button ng-if="!$ctrl.showForm"
    ng-click="$ctrl.showForm = true">
    <md-icon>add</md-icon>
    Add Round
  </md-button>
  <span ng-if="!$ctrl.showForm" flex></span>
  <form role="form" name="$ctrl.roundEditForm" flex ng-if="$ctrl.showForm">
    <fieldset ng-disabled="$ctrl.loading">
    <h2 class="round__name"
        layout="row" layout-align="space-between center">
      <div layout="column" layout-align="center start">
        <span>{{ $ctrl.round.name }}</span>
        <span class="muted">{{ "round." + $ctrl.round.vote_method | translate }}</span>
      </div>
    </h2>
    <md-card class="round__description" flex>
      <md-card-content><fieldset>
        <div layout="row" layout-align="center stretch">
          <div class="round__directions" flex="60"
              layout="column" layout-align="start stretch">

            <md-input-container class="no-margin-bottom">
              <label>Round Name</label>
              <input type="text" autofocus
                  ng-model="$ctrl.round.name"
                  ng-required="true">
            </md-input-container>

            <div layout="row" layout-align="start start">
              <div flex="60">
                <h4>Deadline Date</h4>
                <div layout="row" layout-align="start center">
                  <md-datepicker ng-model="$ctrl.round.deadline_date"
                      ng-required="true"
                      md-open-on-focus
                      md-current-view="year">
                  </md-datepicker>
                  <span ng-if="$ctrl.round.deadline_date">&nbsp;·&nbsp;</span>
                  <span class="muted" ng-if="$ctrl.round.deadline_date">
                    {{ $ctrl.round.deadline_date | fromNow }}
                  </span>
                </div>
              </div>
              <div flex="40"
                  layout="column" layout-align="start stretch">
                <h4>Vote Method</h4>
                <md-input-container class="no-margin-top">
                  <md-select ng-model="$ctrl.round.vote_method">
                    <md-option
                        ng-repeat="method in ['yesno', 'rating', 'ranking']"
                        value="{{ method }}">
                      {{ "round." + method | translate }}
                  </md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>

            <h4 ng-if="$ctrl.index === 1">Source Category</h4>
            <p class="muted" ng-if="$ctrl.index === 1">Category on Wikimedia Commons that gathers all contest images. Example of such category may be eg. "Images from Wiki Loves Monuments 2017 in Ghana".</p>
            <md-autocomplete flex
              ng-if="$ctrl.index === 1" required
              md-input-name="autocompleteField"
              md-input-minlength="2"
              md-input-maxlength="500"
              md-autoselect="true"
              md-selected-item="$ctrl.category"
              md-search-text="$ctrl.categorySearchText"
              md-items="item in $ctrl.searchCategory($ctrl.categorySearchText)"
              md-item-text="item"
              md-no-cache="true"
              md-floating-label="Enter category"
              md-delay="100">
              <md-item-template>
                <span md-highlight-text="$ctrl.searchText">{{ item }}</span>
              </md-item-template>
            </md-autocomplete>

            <h4>Directions</h4>
            <md-input-container class="no-margin">
              <textarea aria-label="Round directions"
                ng-model="$ctrl.round.directions"
                rows="2" ></textarea>
            </md-input-container>
          </div>
          <div flex></div>
          <div class="round__settings" flex="30">
            <h4>Round File Settings</h4>
            <p layout="column" layout-align="start stretch">
              <span layout="row" layout-align="space-between start"
                  ng-repeat="(name, value) in $ctrl.round.config">
                <span ng-if="name !== 'min_resolution'">{{ ::name | translate }}</span>
                <span ng-if="value === false || value === true">
                  <md-checkbox
                    ng-model="$ctrl.round.config[name]"
                    aria-label="{{ ::name }}">
                </span>
                <md-input-container ng-if="name === 'min_resolution'">
                  <label>Minimal resolution</label>
                  <input type="number" ng-model="$ctrl.round.config.min_resolution">
                </md-input-container>
              </span>
            </p>
          </div>
        </div>
        
        <div class="round__jurors"
            layout="row" layout-align="center stretch">
          <div flex>
            <h4>Quroum</h4>
            <p class="muted">The number of jurors that must vote on each image</p>
            <md-input-container class="no-margin-bottom">
              <label>Quorum</label>
              <input type="number"
                  ng-model="$ctrl.round.quorum"
                  ng-required="true">
            </md-input-container>
            <h4>Jurors</h4>
            <mont-user-list
              ng-model="$ctrl.round.jurors">
            </mont-user-list>
          </div>
          <div flex="30"
              ng-if="$ctrl.index > 1">
            <h4>Threshold</h4>
            <p class="muted">Minimal average rating for photo</p>
            <md-select ng-model="$ctrl.round.threshold">
              <md-option ng-required="true"
                  ng-repeat="(key, value) in $ctrl.prevRound.details.thresholds"
                  ng-value="key">
                 {{ (key * 10).toFixed(2) }} / 10 ({{ value }} images total)
              </md-option>
            </md-select>
          </div>
        </div>
      </fieldset></md-card-content>
    </md-card>
    <div class="round__actions"
          layout="row" layout-align="end center">
      <md-button
          ng-disabled="$ctrl.loading"
          ng-click="$ctrl.cancelAddRound()">
        <md-icon>clear</md-icon>
        Cancel
      </md-button>
      <md-button class="md-primary"
          ng-click="$ctrl.prevRound ? $ctrl.advanceRound() : $ctrl.addRound()"
          ng-disabled="$ctrl.roundEditForm.$invalid || $ctrl.loading || !$ctrl.round.jurors.length">
        <md-icon>check</md-icon>
        Add Round
      </md-button>
    </div>
    </fieldset>
  </form>
</div>
